:root{
    --primary-color: #F07807;
    --secundary-color: #F7E5D8;
    --terciary-color: #fbddc1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}
body{
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
    background-attachment: var(--secundary-color);
}
 header{
    height: 60px;
    position: fixed;
    width: calc(100% - 160px);
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
header ul{
    display:flex;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}
header li{
    padding: 4px 8px;
    transition: .5s;
}
.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: #fbddc1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
header li:hover{
    background-color: ;
    box-shadow: 0 3px 3px #0005;
}
 main{
    /*background-color: blueviolet;*/
    height: 500px;
 }
 footer{
    background-color: pink;
    height: 526px;
 }